header {
    border-bottom: unset;
}

.close-button icon {
    height: 10px;
}

.header-right .close-button {
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #FFF;
    cursor: pointer;
    padding: 12px 5px;
}

.logo-container h1 {
    font-family: 'Anonymous Pro';
    font-size: 45px;
    text-transform: lowercase;
    color: #063F1E;
    text-align: center;
}

.login-container {
    margin: 0 15px;
    padding-top: 26px;
}

.buttons-container {
    width: 85%;
    margin: 0 auto;
}

.login-container button, .login-container input {
    display: block;
    width: inherit;
    outline: none;
    cursor: pointer;
    margin: 12px auto;
    font-size: 16px;
    padding: 12px 10px;
    border-radius: 5px;
}

.login-container input {
    box-shadow: 0px 1px 4px 1px rgba(12, 120, 58, 0.1);
    border: #F2EFF2 solid 1px;
}

input::placeholder {
    color: #706E70;
}

input:focus {
    border: #0C783A solid 0.5px;
}

.login-button {
    border: unset;
    font-weight: 700;
    color: #FFF;
    background-color: #0C783A;
    text-align: center;
    border: #F2EFF2 solid 1px;
}

.login-container hr {
    margin: 24px auto;
    border-color: #F2EFF2;
    border-width: 0.5px;
    width: 40%;

}

.alternate-button {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #0C783A;;
    background-color: unset;
    font-weight: 700;
    border: unset;
    margin: 10px auto;
}

.telegram-button {
    color: #1877F2;
    text-decoration: unset;
}