main {
    margin-top: 55px;
}
.blog {
    padding-top: 12px;
}
header {
    transition: top 0.3s;
    box-shadow: rgb(12 120 58 / 5%) 0px 1px 4px 1px;
}

.open-post div {
    padding-top: 3px;
}

#post-img {
    margin: 0 -15px;
    width: 100vw;
}

.open-post {
    display: inline-block;
    color: #706E70;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
}

.open-post a:first-child  {
    font-weight: 700;
    color: #302F30;
}

.open-post .author {
    display: inline-block;
    margin-left: -3px;
    vertical-align: baseline;
}

.open-post .img-container {
    vertical-align: top;
}

.open-post img {
    height: 22px;
    width: 22px;
}

.post-body p {
    color: #302F30;
    font-weight: 400;
}

.post-body.subtitle {
    font-size: 16px;
    font-weight: 500;

}

.subscribe-btn {
    vertical-align: top;
    float: right;
}

.comment-section {
    margin: 0 15px;
    font-family: 'Roboto';
}

.comment-info {
    display: flex;
    justify-content: space-between;
}

.comment-img, .comment-author-date {
    display: inline-block;
    vertical-align: middle;
}

.comment-date {
    color:#706E70;
    font-size: 12px;
}

h2.section-heading {
    font-size: 16px;
    margin-bottom: unset;
}

.input-container {
    margin-bottom: 12px;
}

.comment textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    padding: 12px 10px;
    border-radius: 5px;
    border: #F2EFF2 solid 1.5px;
    word-break: break-word;
    resize: none;
    font-family: 'Roboto';
    background: #FFF;
}

.comment textarea::placeholder {
    color: #706E70;
    font-size: 14px;
}

.comment textarea:focus {
    outline: #0C783A solid 1px;
}

.button-container {
    display: flex;
    justify-content: right;
}
.comment button {
    font-family: 'Roboto';
    border: none;
    outline: none;
    color: #FFF;
    background-color: #0C783A;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px;
    margin: 12px 0;
}

.comment button:active {
    background-color: #FFF;
    outline: #0C783A solid 1px;
    color: #0C783A;
}

.comment .comment-img {
    display: inline-block;
    height: 32px;
    width: 32px;
    border: #FFF 2px solid;
    border-radius: 50%;
    margin-right: 6px;
}

.comment h3 {
    font-size: 15px;
    margin: unset;
    color: #302F30;
    font-weight: 500;
}

.comment-actions {
    color: #706E70;
    font-size: 14px;
}
.comment-actions a {
    padding-right: 6px;
}
.comment {
    padding: 10px 0 20px;
}

.comment.answer {
    border-left: 1px solid #DBD7D8;
    padding-left: 15px;
}

@media screen and (min-width: 541px) {
    .comment textarea {
        box-shadow: unset;
    } 
    .comment textarea:hover {
        box-shadow: 0px 1px 4px 1px rgba(12, 120, 58, 0.1);
    }
}