header {
    border-bottom: unset;
}

main {
    margin-top: 70px;
}

.search-field {
    border-radius: 20px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    padding: 10px 14px 10px 40px;
    margin: 20px auto;
    background: #F2F2F2 url(img/search-icon.svg) no-repeat 12px center;
    background-size: 16px;
}

.search-field:focus {
    outline: #0C783A solid 1px;
}

.promotion {
    padding-top: 0;
}