header {
    border-bottom: unset;
}

.search-area {
    margin: 0 15px;
    padding-top: 2px;
}

.search-field {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    padding: 10px 12px;
    background-size: 16px;
    border: #0C783A solid 1.5px;
    -webkit-appearance: none;
}

input[type="search"] {
    font-size: 1em;
}

.search-field:focus {
    box-shadow: 0 0 0 1px #0C783A;
    -webkit-box-shadow: 0 0 0 1px #0C783A;;
    outline: none;
}

.promotion-container {
    padding-top: 10px;
}

.promotion-container .tags ul {
    margin-top: unset;
}

@media screen and (min-width: 541px) {
    .search-area {
        margin: 0 25%;
    }
}