body {
    margin: 0;
}

main {
    margin-bottom: 50px;
    margin-top: 100px;
}

a {
    text-decoration: unset;
    color: unset;
}


/* sidebar styles  */
.left-sidebar {
    display: none;
    z-index: 11;
    height: 100%;
    background-color: #FFF;
}

.left-sidebar-button {
    border: none;
    outline: none;
    background-color: unset;
    padding: unset;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    z-index: 10;
    max-height: 55px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: #F2EFF2 solid 1px;
    background-color: #FFF;
    position: fixed;
    top: 0;
}

.header-left {
    display: inline-block;
    top: 0;
    left: 0;
    height: 55px;
}

.header-left a {
    vertical-align: top;
    height: 100%;
}

.header-left img {
    width: 55px;
    height: 55px;
}

.header-middle {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-right: 10px;
    padding-left: 15px;
    width: 100%;
    color: #302F30;
}

#arrow-down {
    vertical-align: text-top;
    padding-top: 8px;
    padding-left: 2px;
    height: 8px;
}

.today-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0D8540;
    text-decoration: underline;
    text-underline-offset: 6px;
    font-size: inherit;
    font-weight: inherit;
    padding: unset;
}

.today-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    overflow: auto;
    background-color: #FFF;
    min-width: fit-content;
    box-shadow: 0px 1px 4px 1px rgba(12, 120, 58, 0.1);
    border-radius: 0px 0px 8px 8px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}

.today-dropdown-content a {
    display: block;
    padding: 17px 12px;
}

.today-dropdown-content a:hover {
    background-color: #F2F2F2;
}

.header-right {
    display: inline-block;
    position: relative;
    padding-right: 15px;
}

.create-button {
    border: #706E70 solid 1px;
    border-radius: 4px;
    outline: none;
    background: url(img/create-plus.svg) no-repeat;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-size: 14px;
    background-position: center;
}

.create-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    left: -80px;
    overflow: auto;
    background-color: #FFF;
    min-width: fit-content;
    box-shadow: 0px 1px 4px 1px rgba(12, 120, 58, 0.1);
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 400;
}

.create-dropdown-content a {
    display: block;
    padding: 17px 12px;
}

.create-dropdown-content a:hover {
    background-color: #F2F2F2;
}

.show {
    display: block;
}

/* tabs section styles */
.tab {
    width: 100%;
    height: 45px;
    margin-top: 54px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: #F2EFF2 solid 1px;
    align-items: center;
    position: fixed;
    z-index: 8;
    top: 0;
    background-color: #FFF;
}

.tab button {
    font-family: 'Roboto';
    font-size: 14px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 16px;
    transition: 0.3s;
    color: #706E70;
}

.tab button:hover {
    background-color: #F2F2F2;
}

.tab button.active {
    font-weight: 700;
    text-decoration: underline #0D8540 2px;
    text-underline-offset: 15px;
    color: #302F30;
}

/* blog feed styles */
.blog {
    margin: 0 15px;
    padding-top: 26px;
}

/* blog post styles */
.blog-post {
    border-bottom: 1px solid #DBD7D8;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: #302F30;
}

.blog-post:last-child {
    border-bottom: none;
}

.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
}

.content-type {
    color: #706E70;
    font-weight: 500;
    font-size: 12px;
    padding: 6px 0;
}

.title {
    font-size: 28px;
    margin: unset;
    padding-bottom: 12px;
}

.subtitle { 
    font-size: 16px;
    font-weight: 400;
}

.published-container {
    height: 100%;
    font-size: 15px;
    font-weight: 300;
    padding-top: 12px;
    color: #706E70;
}

.community-img, .author-img {
    display: inline-block;
    height: 32px;
    width: 32px;
    border: #FFF 2px solid;
    border-radius: 50%;
    object-fit: cover;
}

.author-img {
    position: relative;
    left: -15px;
    z-index: -1;
}

.single-author {
    position: unset;
    margin-right: 10px;
}

.img-container, .publishing-info, .author-date div, .publishing-info h3, .separator {
    display: inline-block;
    vertical-align: text-bottom;
}

.img-container {
    margin-right: -4px;
}

.post-actions-button {
    border: unset;
    outline: none;
    cursor: pointer;
    background: unset;
    color: inherit;
}

.post-actions-content {
    display: none;
    position: absolute;
    z-index: 1;
    overflow: auto;
    background-color: #FFF;
    min-width: fit-content;
    box-shadow: 0px 1px 4px 1px rgba(12, 120, 58, 0.1);
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 400;
}

.post-actions-content a {
    display: block;
    padding: 12px 10px;
}

.post-actions-content a:hover {
    background-color: #F2F2F2;
}

.publishing-info h3 {
    font-size: 15px;
    margin: unset;
    color: #302F30;
    font-weight: 500;
}

.author-date {
    margin-bottom: 5px;
}

.tags ul {
    padding: unset;
    margin: 12px 0;
}

.tags li {
    list-style: none;
    display: inline-block;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: fit-content;
    padding: 7px 14px;
    margin-bottom: 10px;
}

.tags li a {
    padding: 7px 0;
}

/* question post styles */
.question-wrap, .question-wrap .content-type {
    position: relative;
    color: #FFF;
    width: 100%;
}

.question-img {
    height: 430px;
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 68.75%);
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 68.75%);
    background-image: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 68.75%);
    background-image: -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 68.75%);
    background-image: -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 68.75%);
    min-width: 100%;
}

.question-info {
    padding: 50px 15px 10px 15px;
}

.question-answer p {
    margin: 12px 0;
    color: #302F30;
}

.read-more {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: unset;
    color: #0D8540;
}

/* interaction section styles */
.reaction-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.interaction-container, .score-container {
    display: inline;
}

.interaction-container .reaction:not(:first-child) {
    margin-left: 10px;
}

.reaction {
    height: 16px;
    display: inline-block;
    padding: 5px 8px 6px 8px;
    background-color: #F7F7F7;
    border-radius: 4px;
    font-size: 14px;
    color: #8E8E8E;
    vertical-align: middle;
}

.comment-count {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.score {
    background-color: unset;
}

.score-container {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.score-count {
    background-color: #F7F7F7;
    color: #8E8E8E;
    font-weight: 500;
    text-align: center;
}

.score-count.positive {
    background-color: #F0FAF2;
    color: #0D8540;
}

.score-count.negative {
    background-color: #FFE5E5;
    color: #D91818;
}

.reaction img {
    height: 14px;
    vertical-align: middle;
}

/* navbar bottom styles */
.navbar {
    border-top: #F2EFF2 solid 1px;
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    padding: 0;
    margin: unset;
}

.navbar li {
    list-style: none;
    padding: 10px;
}

.nav-button {
    border: unset;
    outline: none;
    background: no-repeat;
    cursor: pointer;
    height: fit-content;
    width: 25px;
    background-size: contain;
    background-position: center;
    padding: inherit;
}

.account-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 100%;
    overflow: auto;
    background-color: #FFF;
    min-width: fit-content;
    box-shadow: 0px 1px 4px 1px rgba(12, 120, 58, 0.1);
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

.account-dropdown-content a {
    display: block;
    padding: 17px 12px;
    color: #302F30;
}

.account-dropdown-content a:hover {
    background-color: #F2F2F2;
}

.show {
    display: block;
}

/* footer styles */
footer {
    background-color: #DBD7D8;
    height: 50px;
    padding-left: 120px;
    padding-top: 20px;
    margin-bottom: 0;
}

/* unauthorized screen styles */

/* desktop styles */
@media screen and (min-width: 541px) {
    .blog {
        margin: 0 25%;
    }
    header {
        padding: 0 25%;
        border-bottom: unset;
    }
    .tab {
        padding-left: 25%;
        padding-right: 25%;
    }
    .navbar ul {
        justify-content: space-evenly;
    }
    .post-img {
        height: 30vw;
    }

    .question-img {
        height: 60vw;
    }

    .left-sidebar {
        display: none;
    }
} 